<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REMOTE</key>
	<dict>
		<key>POJIDESHOUQIANG</key>
		<dict>
			<key>AttackNumber</key>
			<integer>3</integer>
			<key>AttackSpeedNumber</key>
			<real>2.000000</real>
			<key>AttackRadius</key>
			<integer>0</integer>
			<key>ManaConsume</key>
			<integer>2</integer>
		</dict>
		<key>AK47</key>
		<dict>
			<key>AttackNumber</key>
			<integer>5</integer>
			<key>AttackSpeedNumber</key>
			<real>2.500000</real>
			<key>AttackRadius</key>
			<integer>0</integer>
			<key>ManaConsume</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>MELEE</key>
	<dict>
		<key>GANCAOCHA</key>
		<dict>
			<key>AttackNumber</key>
			<integer>4</integer>
			<key>AttackSpeedNumber</key>
			<real>1.500000</real>
			<key>AttackRadius</key>
			<integer>300</integer>
			<key>ManaConsume</key>
			<integer>2</integer>
		</dict>
		<key>NOMELEE</key>
		<dict>
			<key>AttackNumber</key>
			<integer>2</integer>
			<key>AttackSpeedNumber</key>
			<real>1.000000</real>
			<key>AttackRadius</key>
			<integer>200</integer>
			<key>ManaConsume</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
