<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AUDIO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{258,74}</string>
                <key>spriteSourceSize</key>
                <string>{270,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EXIT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{258,74}</string>
                <key>spriteSourceSize</key>
                <string>{270,84}</string>
                <key>textureRect</key>
                <string>{{261,1},{258,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HELP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{258,74}</string>
                <key>spriteSourceSize</key>
                <string>{270,84}</string>
                <key>textureRect</key>
                <string>{{521,1},{258,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>START.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{258,74}</string>
                <key>spriteSourceSize</key>
                <string>{270,84}</string>
                <key>textureRect</key>
                <string>{{781,1},{258,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>菜单选项.png</string>
            <key>size</key>
            <string>{1040,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:837b4c67fad7d3bcd9eb09e8ffde051a:9e25de072cebf9d1fb6f8baa881d0bc5:ecd710d1af5fe9aec64b4023b4364424$</string>
            <key>textureFileName</key>
            <string>菜单选项.png</string>
        </dict>
    </dict>
</plist>
